.card{
    margin:6px;
    padding:4px;
}
.school{
    font-size: 18px;
}
.certificate-span{
    float:right
}
.btn{
    float:right;
    font-weight:bolder; 
    font-size:20px;
    text-decoration: none
}