
<div class="container" style='margin-top:8rem;'>
        <h1> <i class='material-icons'>school</i>&nbsp;&nbsp;Education</h1><p style='margin-left: 3rem;margin-bottom: 3.5rem'> Schools attended and certificates obtained with date</p>
        
<div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
            <span class='school'><strong>University</strong> </span>
              <button style='float:right; font-weight:bolder; font-size:20px; text-decoration: none' class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                +
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
            American University of Nigeria<span style='float:right'>2012 - 2017</span> 
             <p>BSc. Telecommunications and Wireless Technology</p>
             <p>First Class [Cum Laude]</p>
             <a href='https://drive.google.com/open?id=11CXf9ECAbv28DZwko4JXTjQ6PxyZckXd'>View certificate</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
            <span class='school'><strong>High School </strong></span>
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                +
              </button>
    
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                    Lutheran Junior Seminary <span style='float:right'>2005 - 2011</span>
                    <p>West African Examination Council (WAEC)</p>
                    <a href='#'>View certificate</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <span class='school'><strong>Primary School </strong></span>
              <button  class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                +
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                  St. Mary Nursery & Primary School <span style='float:right'>2000 - 2004</span>
                      <p>First School Leaving Certificate</p>
                      <a href='#'>View certificate</a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                  <span class='school'><strong> Certifications </strong></span>
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  +
                </button>
              </h2>
            </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                 <p > Front End Web Developer Nanodegree [Udacity]  <span class='certificate-span' ><a href='https://drive.google.com/open?id=1mHUnceAhy4Wr-r1-47yAG_6Qpdqxqdwf'>View Certificate</a></span></p>
                 <p>Fundamentals of Digital Marketing [Google]  <span class='certificate-span'><a href='https://drive.google.com/open?id=1nqV-yWq1KxwgcrSR-iO74DyLsLdjQWeZ'>View Certificate</a></span></p>
                 <p> CCNA Routing and Switching (Introduction to Networks)  <span class='certificate-span' ><a href='https://drive.google.com/open?id=1ZqeSetf3GpzA1xg1MNkTLAk67v9htmHD'>View Certificate</a></span></p>
                 <p> CCNA Routing and Switching (Connecting Networks)  <span class='certificate-span' ><a href='https://drive.google.com/open?id=1nitailjFsng6EIYOBBt_ocxuhdrgi78j'>View Certificate</a></span></p>
                 <p>CCNA Routing and Switching (Routing and Switching Essentials)  <span class='certificate-span' ><a href='https://drive.google.com/open?id=1wfLdL1fVHW3fZ4VB61-aFedMxjKV4XRN'>View Certificate</a></span></p>
                 <p> CCNA Routing and Switching (Scaling Networks)  <span class='certificate-span' ><a href='https://drive.google.com/open?id=19Ifqk_78k_KYY6Hes8aI3fHRGYTG-TWB'>View Certificate</a></span></p>
                 <p> Introduction to Cyber-Security (Cisco)  <span  class='certificate-span'><a href='https://drive.google.com/open?id=1cqUyk_1EaUgWcVZtYAWndN41wbnp429-'>View Certificate</a></span></p>
                 <p> Google Africa Challenge Scholarship: Front End  <span class='certificate-span' ><a href='https://drive.google.com/open?id=1ewvGe2xngHYXzTnFvJOjDhujzCM8TpVb'>View Certificate</a></span></p>  
                <p>Honor Society [American University of Nigeria] <span class='certificate-span' ><a href='https://drive.google.com/open?id=1rEJFKUb7TO_B0MLN_wFGJ46pjyeJQ-Fl'>View Certificate</a></span></p>
                <p>National Youth Service Corps (NYSC) <span class='certificate-span' ><a href='https://drive.google.com/open?id=14OIEbxL8qzTO6UyrdB_J5XcfNQyWlOVY'>View Certificate</a></span></p>  
              </div>
          </div>
        </div>
      </div>
    </div>