<div style='margin-top:8rem; margin-bottom:3rem;'class="container">
        <h1> <i class='material-icons'>library_add</i>&nbsp;&nbsp;Awards </h1>
</div>
<table style='width:96%; margin-left: 1.5rem'class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Organisation</th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Award for Academic Distinction</td>
            <td>SITC (School of Information Technology and Computing,AUN)</td>
            
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Best graduating Student (Telecoms & Wireless Tech)</td>
            <td>Quanteq Technology Services Limited, Abuja</td>
         
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Award for Academic Excellence</td>
            <td>West African Catering (WAC)</td>
            
          </tr>
          <tr>
                <th scope="row">4</th>
                <td>Chevron/NNPC JV Scholarship</td>
                <td>Chevron/NNPC</td>
                
            </tr>
            <tr>
            <th scope="row">5</th>
                  <td>Google Africa Challenge Scholarship: Front End</td>
               <td>Google</td>
                   
            </tr>
        </tbody>
      </table>
