<div class="container" style='margin-top:8rem;margin-bottom: 3rem;'>
        <h1> <i class='material-icons'>verified_user</i>&nbsp;&nbsp;Experience</h1>
</div>  
<div>
        <h3 style='margin-left: 3rem; min-width: 95%;;'><strong>MEAL Officer</strong> <span class='experience-span'>2020 - 2022</span></h3>
                <h5 class='experience-title'>Street Child of Nigeria &nbsp;-<span>&nbsp;Maiduguri</span></h5>
                        <p class='experience-text'>
<p>Compile and file electronic copies of all beneficiary lists and other relevant Means of
Verification in close collaboration with core technical officers.</p>
<p>Support the implementation of surveys with quantitative and qualitative tools as part of data 
        collection initiatives in the M&E Unit.</p>
<p>Make sure complete and accurate project data are reported timely with necessary disaggregation 
        (data by area/location, core competency, gender, type of beneficiaries (IDP, host community, 
        returnee and others).</p>
<p>Actively participate in need assessments, baseline and end-line surveys particularly
        field data collation using mobile data collection methods training and supervising
        enumerators, data entry and analysis.</p>
<p>Support field program staff to implement project-level assessments, including PDMs,
        baseline survey using mobile data collection methods, outcome measurement, and
        multisector area level assessments where relevant, training and supervising of
        enumerators and data analysis.</p>
<p>Support the role out of digital-based data collection using mobile phones/tablets.</p>
<p>Assist the MEAL Team Lead to generate and share field reports on project progress.
        Work in close collaboration with the MEAL Team Lead and update monthly project
        progress on the System using data from field Office M&E Matrixes</p>
S<p>upport Documentation, Reporting, Knowledge Sharing and Effective Feedback Mechanism.</p>
<p>Participate in dissemination of program information to communities, children, and other Stakeholders 
        through a regular feedback mechanism.</p>
<p>Develop follow up action plans and ensure that all identified data quality issues are resolved 
        by the LGA M&E officers and provider sites.</p>
<p>Develop and maintain database system to ensure programme tracking and to get 
        critical Information of programme achievement by organizing, analyzing, and presentation.</p>

        </p>
</div>    

<div>
        <h3 style='margin-left: 3rem; min-width: 95%;;'><strong>Research and Teachnical Assistant 1 (School of Engineering)</strong> <span class='experience-span'>2019 - 2020</span></h3>
                <h5 class='experience-title'>American University of Nigeria &nbsp;-<span>&nbsp;Yola</span></h5>
                        <p class='experience-text'>
<p>Summarized/condensed/grouped research documents to assist faculty in 
        preparing papers for publication.</p>
<p>Investigated possible research outlets and formatting research documents for
        specific outlets.</p>
<p>Assisted faculty with research planning and profiling research being developed.</p>
<p>Maintained and upgraded the school e-platforms such as research webpage,
        portals, Facebook, Twitter etc.</p>
<p>Assisted in identifying research best practices and possible sources of funding.</p>
<p>Assisted in organizing workshops/seminar/talks and IEEE programs for students.</p>

        </p>
</div>    

<div>
        <h3 style='margin-left: 3rem; min-width: 95%;;'><strong>Remote Student Mentor</strong> <span class='experience-span'>2019</span></h3>
                <h5 class='experience-title'>Udacity Front End Web Developer Nanodegree &nbsp;-<span>&nbsp;USA</span></h5>
                        <p class='experience-text'>
                      <p>  Collaborate with peer mentors to assist students with Udacity projects
                        and deepen their understanding of subject matter.</p> 
                       <p> Review student projects, giving valuable feedback for them to meet
                        specifications.</p> <p>Help students complete the coursework within the Nanodegree program
                                timelines by providing personalized guidance aligned with individual
                                student needs.</p> 
                              <p>  Provide timely technical help while students work on their coursework
                                and projects.</p>
                        </p>
</div>    
<div>
        <h3 class='experience-header'><strong>Learning Community Ambassador</strong> <span class='experience-span'>2019</span></h3>
                <h5 class='experience-title'>Andela Learning Community </h5>
                        <p class='experience-text'>
                                <p>Assist leaners complete their coursework by providing 
                                        personalized guidance aligned with individual needs.</p>
                       <p> Provide timely technical assistance to learners on their coursework
                        and project</p>
                        </p>
</div>  
<div>
        <h3 class='experience-header'><strong>Student Moderator </strong><span class='experience-span'>2019</span></h3>
                <h5 class='experience-title'>Udacity/Facebook Secure and  Private AI Challenge Course  </h5>
                                <p class='experience-text'>
                                        <p>Ensuring that other students gets all announcements, resources, and information
                                                shared. </p>
                                               <p> Fostering positive attitude towards learning and towards the challenge program.</p>
                               <p> Organizing different activities and initiatives to keep students interested and 
                                engaged. </p>
                                <p>Reporting issues and problems encountered by students during the course of the 
                                        program.</p>
                                </p>
</div> 
<div>
        <h3 class='experience-header'><strong>Software Developer Intern </strong><span class='experience-span'>2018</span></h3>
                <h5 class='experience-title'>Quanteq Technology Services Limited &nbsp;-<span>&nbsp;Abuja</span></h5>
                        <p class='experience-text'>
                                <p>Developed software programs and applications passing through all stages.</p>
                         <p>Analyze and resolve software errors accurately on time and provided
                                required status reports. Clearly and regularly communicate with management and technical
                                support team. </p>
                            <p>    Install software products for end users as needed.</p>
                       </p>
</div> 

<div>
        <h3 style='margin-top:3rem;color:#333;margin-left: 3rem; min-width: 95%;;'><strong>Technical Skills and Tools </strong></h3>
        <div class='technical-skills' >
                <h5> Web Development</h5>
                <div class="progress" >
                <div class="progress-bar" role="progressbar" style="width: 75%;background:green" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">85%</div>
               </div>
        </div>
        <div class='technical-skills' >
                <h5> Software Engineering</h5>
                <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%;background:maroon" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
             </div>
        </div>
        <div class='technical-skills' >
                <h5> Cloud Computing</h5>
                <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 69%;background:rgb(22, 220, 235)" aria-valuenow="69" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
        </div>
        <div class='technical-skills' >
                <h5> Mobile Development</h5>
                <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 60%;background:rgb(11, 128, 223)" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
        </div>
        </div>
        <div class='tools'>
                <i class='devicons devicons-mongodb' title='MongoDB'></i>
                <i class='devicons devicons-angular' title='Angular'></i>
                <i class='devicons devicons-npm' title='NPM'></i>                
                <i class='devicons devicons-bootstrap' title='Bootstrap'></i>
                <i class='devicons devicons-mysql' title='MySQL'></i>
                <i class='devicons devicons-css3' title='CSS3'></i>
                <i class='devicons devicons-javascript' title='Javascript'></i>
                <i class='devicons devicons-nodejs' title='NodeJS'></i>                                        
                <i class='devicons devicons-react' title='React'></i>
                <i class='devicons devicons-html5' title='HTML5'></i>                                      
                <i class='devicons devicons-visualstudio' title='Visual Studio'></i>                                      
              <i class='devicons devicons-firebase' title='Firebase'></i>
        </div>
</div> 
        

     