body {
    position: relative; 
}
.devicons{
    margin-right:auto;
padding: 20px;
font-size: 50px;
width: 50px;
text-align: center;
}
.technical-skills{
    margin-top:1.5rem
}
.tools{
    margin-top:3rem;
}
.experience-header{
    margin-top:3rem;color:#333
}
.experience-text{
    text-align: justify
}
.experience-span{
    float:right; font-size:20px;
}

