<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/img/d5.jpg" alt="missing image" />
      <div class="container">
        <div class="carousel-caption text-left">
          <h1>DANIEL CHRISTOPHER S.</h1>
          <span>MEAL Officer, Machine Learning Enthusiat</span><br />

          <p>
            With several years of experience in Monitoring and Evaluation,
            Daniel has developed skills in community entry, database management,
            data analysis/presentation, project evaluation, program design, and
            team building. He has worked with several stakeholders including
            government agencies at State and LGA level, and Community-based
            organizations. Daniel is a First Class graduate of
            Telecommunications and Wireless Technology from the American
            University of Nigeria, Yola. He is passionate about improving lives
            of the civilian population.
          </p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <img src="../assets/img/d4.jpg" alt="missing image" />
      <div class="container">
        <div class="carousel-caption text-right">
          <h3>
            <span style="background: #000" class="badge badge-secondary"
              >Strong Communication Skills</span
            >
          </h3>
          <h3>
            <span
              style="background: rgb(152, 230, 36)"
              class="badge badge-secondary"
              >A Passion for Development</span
            >
          </h3>
          <h3>
            <span
              style="background: rgb(18, 231, 203)"
              class="badge badge-secondary"
              >Open-minded</span
            >
          </h3>
          <h3>
            <span
              style="background: rgb(211, 35, 108)"
              class="badge badge-secondary"
              >Creative</span
            >
          </h3>
          <h3>
            <span
              style="background: rgb(211, 35, 108)"
              class="badge badge-secondary"
              >Data-driven</span
            >
          </h3>
          <h3>
            <span
              style="background: rgb(211, 35, 108)"
              class="badge badge-secondary"
              >Love learning</span
            >
          </h3>
        </div>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#myCarousel"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#myCarousel"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
