<h1 style='margin-top:8rem;'> <i class='material-icons'>work</i>&nbsp;&nbsp;Projects</h1>
<p style='margin-left: 2.6rem;margin-bottom: 3.5rem'> Github Link:&nbsp; <a href='https://github.com/danrejsa/'>View</a></p>
<div class="album py-5 bg-light">
        <div class="container">
               
          <div class="row">
                <div class="col-md-4">
                        <div class="card mb-4 shadow-sm" style='height: 670px;'>
                              <img style='height:400px;' src='../assets/img/work4.png' alt='missing image'>
                          <div class="card-body">
                              <h2>AutoMart</h2>
                            <p class="card-text">Auto Mart is an online marketplace for automobiles of diverse makes, model or body type. With
                                    Auto Mart, users can sell their cars or buy from trusted dealerships or private sellers.</p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                <button style='margin-top:1.5rem;' type="button" class="btn btn-sm btn-outline-secondary"><a href='https://danrejsa.github.io/EcomartUI/index'>View</a></button>                      
                              </div>
                              <small style='margin-top:1.5rem;' class="text-muted"><a href='https://github.com/danrejsa/EcomartUI/'>Github</a></small>
                            </div>
                          </div>
                        </div>
                      </div>
            <div class="col-md-4" >
              <div class="card mb-4 shadow-sm" style='height: 670px;'>
                    <img style='height:400px;' src='../assets/img/work3.png' alt='missing image'>
                <div class="card-body">
                        <h2>Memory Game</h2>
                  <p class="card-text">The game board consists of sixteen "cards" arranged in a grid. The cards are arranged randomly on the grid with the symbol face down. Flip over two hidden cards at a time to locate the ones that match!</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href='https://danrejsa.github.io/Memory-Game/'>View</a></button>
                    
                    </div>
                    <small class="text-muted"><a href='https://github.com/danrejsa/Memory-Game'>Github</a></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4" >
              <div class="card mb-4 shadow-sm" style='height: 670px;'>
                    <img style='height:400px;' src='../assets/img/work2.png' alt='missing image'>
                <div class="card-body">
                        <h2>Pokemon</h2>
                  <p class="card-text">View a list of Pokemon including base stats and images. Search listings extensively and displayed data with pagination</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button style='margin-top:2.8rem;' type="button" class="btn btn-sm btn-outline-secondary"><a href='https://pokemon-hashem.herokuapp.com'>View</a></button>
                 
                    </div>
                    <small style='margin-top:2.8rem;' class="text-muted"><a href='https://github.com/danrejsa/pokemon'>Github</a></small>
                  </div>
                </div>
              </div>
            </div>
       
           
       
        
           
          </div>
        </div>
      </div>