<div class='container-main'>   
    <div id='about'>
        <app-landing-page ></app-landing-page>
    </div>
    <div id='education'>
        <app-education ></app-education>
    </div>
   
    <div id='skill'>
        <app-skill ></app-skill>
    </div>
    <div id='project'>
        <app-project ></app-project>
    </div>
    <div id='award'>
            <app-award ></app-award>
    </div>
    <hr>
    <div class='social-media' id='social'>
        <a href="https://facebook.com" class="fa fa-facebook"></a>
        <a href="https://codepen.io/Maricruz15238/" class="fa fa-codepen"></a>
        <a href="https://gmail.com" class="fa fa-google"></a>
        <a href="www.linkedin.com/in/daniel-christopher-s-" class="fa fa-linkedin"></a>
        <a href="https://github.com/danrejsa/" class="fa fa-github"></a></div>
</div>






      



   
   
    
<!--<ul class='nav-links' id='work'><li>
    <h1><marquee behavior=alternate >
    Projects</marquee></h1></li></ul>
    <ul >
        <li>        
            <strong>Name:</strong><span>Daniel Christopher</span><br>
            <strong>Nationality:</strong><span>Nigerian</span><br>
            <strong>Name:</strong><span>Daniel Christopher</span><br>
            <strong>Nationality:</strong><span>Nigerian</span><br>          
            <strong>Name:</strong><span>Daniel Christopher</span><br>
            <strong>Nationality:</strong><span>Nigerian</span><br>
        </li>
    </ul>-->